<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-center" style="background: #FFFfff;color:#000000; height: 800px;">
        <div>
            <h1 class="login mb-3" style="font-weight:bold;">LOGIN</h1> 
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="Enter email">                            
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn" id="loginBtn" style="background: #000000;color:#FFFfff;">Submit</button>
            </form>
        </div>  
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center" style="background:#01DFA5;color:#000000; height: 800px">
        <div>
            <h1 class="sign-up mb-3" style="font-weight:bold;">SIGN UP</h1>
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp" placeholder="Enter email">                            
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="signUpPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="phone" class="form-control" id="signUpPhone" placeholder="Phone">
                </div>
                <button type="submit" class="btn" id="singUpBtn" style="background: #000000;color:#FFFfff;">Submit</button>
            </form>
        </div>            
    </div>
</div>



