<div class="col-md-4 mx-auto mt-2 mb-2">
  <div class="card">
    <div class="card-body">
      <form action="/">
        <div class="form-group">
          <video src="" name="movie" class="form-control"></video>
        </div>
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="movie">
        </div>
        <div class="form-group">
          <input type="text" name="author" class="form-control" placeholder="author">
        </div>
        <div class="form-group">
          <input type="date" name="time" class="form-control" placeholder="time">
        </div>
        <div class="form-group">
          <input type="text" name="subtitle" class="form-control" placeholder="subtitle">
        </div>
        <div class="form-group">
          <input type="text" name="languague" class="form-control" placeholder="languague">
        </div>
        <div class="form-group">
          <input type="text" name="dubbing" class="form-control" placeholder="dubbing">
        </div>
        <div class="form-group">
          <button class="btn btn-dark btn-block" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>